/* ----GENERAL SETUP---- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
* {
    padding: 0;
    margin: 0;

    box-sizing:border-box
}
body {
	color: rgb;
	font-family: "Ubuntu";
}
h1.nopage, h4.nopage, p.nopage {
    font-family: "Ubuntu";
    color: red;
}

/* ----COLOR PALLETE */
:root {
    --Gunmetal: rgb(41, 47, 54);
    --Fadegrey: rgb(177, 196, 204);
    --Redwood: rgb(166, 66, 64);
    --Slategrey: rgb(89, 122, 136);
    --Airforcegrey: #6B8F9E;
    --Cadetgrey: #84A2AE;
}

/* ----HEADER/NAVBAR---- */

div.header {
	width: 100%;
    background: linear-gradient(90deg, rgba(166,66,64,1) 50%, rgba(126,26,24,1) 83%);
	background-color: rgb(166, 66, 64);
	color: var(--Gunmetal);
	padding: 10px;
	display: inline-block;
    transition: background-color 2s;
}

.header {
	margin-left: 0;
	border-right: 6px solid rgb(41, 47, 54);
    display: inline-block;
    padding: 10px;
    
}
.header a {
    color: var(--Gunmetal);
}

h1.header {
    transition: color 0.9s; 

}

h1.mobile-header {
    margin-left: 0;
    margin: auto;
    text-align: center;
    display: inline-block;
    padding: 10px;
}
h1.header:hover {
    color: rgb(177, 196, 204)
}

h3.header {
    display: inline-block;
}
a.header {
    color: rgb(41, 47, 54);
    transition: font-size 0.9s;
    transition: color 1s;
    text-decoration: none;
}
a.header:hover {
    font-size: 115%;
    color: rgb(177, 196, 204);
}
a.header:visited:hover {
    font-size: 1115%;
    color: rgb(177, 196, 204);
}
a.header-left {
    color: rgb(41, 47, 54);
    transition: font-size 0.9s;
    transition: color 1s;
    text-decoration: none;
    margin-left: 50%;
}
a.header-left:hover {
    font-size: 115%;
    color: rgb(177, 196, 204);
}
a.header-left:visited:hover {
    font-size: 115%;
    color: rgb(177, 196, 204);
}

/* Home Image Slider */

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img {
    width: 30%;
    display: none;
    margin: auto;

}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 0.5s;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
}

/* ----Reviews---- */
.reviews-container {
    margin-top: 5vh;
    text-align: center;
    display: flex;
}
.review {
    width: 30%;
    flex: 1;
    border: 2px solid black;
    display: inline-block;

    background-image: url('greywave.svg');

    border-radius: 10px;

    height: 75vh;
    margin: auto;
    margin-right: 2vh;
    margin-left: 2vh;
    vertical-align: center;

    margin-bottom: 3vh;

    transition: background-image 0.5s;
}
.review:hover {
    background-image: url('greywave-lighter.svg')
}
.review p {
    font-family: "Days One";
    line-height: 1.3;
}

/* ----Contact Us---- */

.contact-us {
    min-height: 75vh;
    margin: 2vh;
    /* margin-right: 40%; */
    background-image: url('greywave.svg');
    border-radius: 20px;
    transition: background-image 0.5s;
    border: 2px solid var(--Gunmetal);
}
.contact-us h2, p {
    text-align: center;
    padding-top: 3vh;
}
.contact-us button {
    background-color:rgb(177, 196, 204);
    min-width: 5vw;
    min-height: 5vh;
    font-family: "Ubuntu";
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 1vh;
    transition: background-color 0s;
    display: inline-block;
}
.contact-us input {
    background-color: rgb(177, 196, 204);
    min-height: 5vh;
    min-width: 20vw;
    font-family: "Ubuntu";
    border: 1px solid var(--Gunmetal);
    border-radius: 20px; 
    transition: background-color 1s;
    display: inline-block;
    padding-left: 0.5vw;
}
.contact-us input:hover {
    background-color: #84A2AE;
}
.contact-us button:active {
    background-color: #84A2AE;
}
.input-wrapper {
    display: flex;
    margin: auto;
    width: 50%;
}
.contact-us:hover {
    background-image: url('greywave-lighter.svg');
}

/* ----Buy Now---- */
.buy-now {
    max-width: 30%;
    min-width: 30%;
    background-image: url('greywave.svg');
    min-height: 75vh;
    margin: 2vh;
    border-radius: 20px;
    border: 2px solid var(--Gunmetal);
    transition: background-image 0.5s;
}
.buy-now h2 {
    text-align: center;
    padding-top: 3vh;
}
.buy-now:hover {
    background-image: url('greywave-lighter.svg');
    
}
.news-buynow-wrapper {
    display: flex;
}


/* ----Footer ---- */
div.footer {
    background: linear-gradient(90deg, rgba(166,66,64,1) 50%, rgba(126,26,24,1) 83%);
    min-height: 20vh;
    min-width: 100%;
    text-align: center;
    display: block;
}

p.footer {
    text-align: center;
    padding-top: 5vh;
    color:rgb(41, 47, 54);  
}
a.footer  {
    text-decoration: underline; 
    text-decoration-style: double;
    margin: auto; 
    color: rgb(41, 47, 54);
    transition: color 0.9s;
    /* transition: font-size 0.5s; */
}
a.footer:hover, a.footer:visited:hover {
    color: rgb(177, 196, 204);
    font-size: 110%;
}

/* ----About Us---- */

.about-us-main {
    text-align: center;
}
a.aboutus-link {
    color: var(--Gunmetal);
    transition: color 0.5s;
}
.aboutus-link a:hover, a:visited:hover {
    color: var(--Fadegrey);
}


/* ----Five Promo Image---- */
.five-promo-image img{
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.keyinfo-five {
    min-height: 75vh;
    max-width: 50%;
    background-image: url('greywave.svg');
	transition: background-image 0.5s;
	flex: 1;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 270%;

    margin: 2vh;
    border: 2px solid var(--Gunmetal);
    border-radius: 20px;
}

.keyinfo-five h2 {
    text-align: center;
    padding-top: 1vh;
}
.keyinfo-five:hover {
	background-image: url('greywave-lighter.svg');
}

/* ----Buy Box for all Pages, but referred to as five in the code for some unknown reason----*/
.buy-box-five {
	min-height: 60vh;
	flex: 1;
	margin: 2vh;
	border: 2px solid var(--Gunmetal);
	border-radius: 20px;
	background-image: url('greywave.svg');
	transition: background-image 0.5s;
    background-position: right bottom;
	
}
.buy-box-five:hover {
	background-image: url('greywave-lighter.svg');
}
.five-buywrapper {
	display: flex;
}

.buy-box-five h2 {
	text-align: center;
	padding-top: 1vh;
    margin-bottom: 2vh;
}
.buy-button, .buy-button:visited {
    text-align: center;
    display: block;
    transition: background-image 0.5s;
}
.buy-button:hover, a.buy-button:visited:hover {
    background-image: url('greywave.svg')
}
a.buy-button, a.buy-button:visited {
    
    background-image: url('greywave-lighter.svg');
    color: var(--Redwood);
    padding: 2vh;
    text-decoration: none;
    text-align: center;
    margin: auto;
    border: 2px solid var(--Gunmetal);
    border-radius: 20px;
    max-width: 15vh;
    
}

/* ----Buy Page Form---- */

.buypage-form {
    min-width: 95vw;
    min-height: 50vh;
    background-image: url('greywave.svg');
    border: 2px solid var(--Gunmetal);
    border-radius: 20px;
    margin: 2vh 1vw 2vh 1vw;
}
.buypage-form h2 {
    text-align: center;
    padding-top: 1vh;
}
.what-to-purchase {
    text-align: center;
}

p.buypage-form-p {
    text-decoration: underline;
    font-weight: bold;
}

.buypage-address-info {
    text-align: center;
}

.buypage-address-info a {
    background-image: url('greywave-lighter.svg');
    text-decoration: none;
    color: var(--Redwood);
    border: 2px solid var(--Gunmetal);
    border-radius: 20px;
    padding: 0 1vw 0 1vw;

    transition: background-color 0.5s;
}
.buypage-address-info a:hover, a:visited:hover {
    background-image: url('greywave.svg');
    color: var(--Redwood);
}

/* ----Four Promo Image---- */
.four-promo-image img {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* ----Responsiveness---- */
@media screen and (max-width: 700px) {

    .slider img {
        width: 50%;
    }
    .reviews-container{
        display: block;
    }
    .review {
        width: 100%;
        height: 75%;
        margin-left: 0;
        
    }
    .header {
        display: none;
    }
    .contact-us {
        width: 100%;
        margin-left: 0;
        min-height: 50vh;
        
    }
    .news-buynow-wrapper {
        display: block;
        margin-left: 0;
        
    }
    .buy-now {
        max-width: 100%;
        min-width: 100%;
        min-height: 60vh;
        margin-left: 0;
        height: 2%;
    }
    .five-promo-image {
        max-height: 100vw;
        
    }
    .input-wrapper button {
        width: 150%;
    }
    .input-wrapper input {
        width: 120%;
    }

    .five-buywrapper {
        display: block;
        width: 100%;
        margin-left: 0;
    }
    .keyinfo-five {
        max-width: 100%;
    }
    .five-inputwrapper {
        height: auto;
    }
     

}

@media screen and (min-width: 701px) {
    h1.mobile-header {
        display: none;

    }
}   